body{
  max-height: 900px;
  min-width: 400px;
}

path{
  fill:lightgrey;
}
.floatleft {
  float: left;
}
.slidecontainer {
  width: 100%; /* Width of the outside container */
}

.header {
  width: 100%;
  height: 250px;
  padding-bottom: 4px;

}
.switchbutton {
  position: fixed;
  top: 10px;
  right: -55px;
}
.switchbutton2 {
  position: fixed;
  top: 140px;
  right: -55px;
}
.circlebtn {
  border-radius: 70%;
  padding-right: 10px;
  width: 170px;
  height: 100px;
}
.searchbar {
  width: 25%;
  height: 50px;
  left: 0;
  padding-left: 15px;
}
.searchbar-button {
  height: 56px;;
  width: 7%;
}
.searchbox {
  padding-top: 25px;
}
.slidecontainer {
  padding-top: 77.5px;
}


/* The slider itself */
.slider {
  -webkit-appearance: none;  /* Override default CSS styles */
  appearance: none;
  width: 100%; /* Full-width */
  height: 25px; /* Specified height */
  background: #d3d3d3; /* Grey background */
  outline: none; /* Remove outline */
  opacity: 0.7; /* Set transparency (for mouse-over effects on hover) */
  -webkit-transition: .2s; /* 0.2 seconds transition on hover */
  transition: opacity .2s;
}

/* Mouse-over effects */
.slider:hover {
  opacity: 1; /* Fully shown on mouse-over */
}

/* The slider handle (use -webkit- (Chrome, Opera, Safari, Edge) and -moz- (Firefox) to override default look) */
.slider::-webkit-slider-thumb {
  -webkit-appearance: none; /* Override default look */
  appearance: none;
  width: 25px; /* Set a specific slider handle width */
  height: 25px; /* Slider handle height */
  background: #4CAF50; /* Green background */
  cursor: pointer; /* Cursor on hover */
}

.slider::-moz-range-thumb {
  width: 25px; /* Set a specific slider handle width */
  height: 25px; /* Slider handle height */
  background: #4CAF50; /* Green background */
  cursor: pointer; /* Cursor on hover */
}
#forminput{
  border: 2px solid blue;
  border-radius: 4px;
  padding:16px;
}
button {
  background-color: #009900;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
  cursor: pointer;
}
.dropbtn
{
  float:left;
}
#searchbar
{
  float:right;
}



/* The container <div> - needed to position the dropdown content */
.switchbtn {
  position: relative;
  display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  margin: auto;
}

/* Links inside the dropdown */
.dropdown-content button {
  padding: 12px 16px;
  text-decoration: none;
  width: 100%;
  display: block;
  margin:auto;
}


/* Change color of dropdown links on hover */
.dropdown-content button:hover {background-color: #ddd}
.autocomplete-items div:hover {
  background-color: #009900;
  cursor:pointer;
}
.autocomplete-active {
  background-color: #009900 !important;
  color: #ffffff;
}
#slidertext
{
  text-align: center;
  font-family: adelle,monospace;
  font-weight: bold;
}

footer p
{
  text-align:center;
  font-family:monospace;
}
.autocomplete-items
{
  font-family: adelle,monospace, serif;
  background-color:white;
  position: relative;
  z-index: 1;
}
#forminputautocomplete-list{
  margin-bottom: -100%;
}
.show {display:block;}
.formcontainer
{
  font-family: adelle,monospace;
  padding-top:75px; 
}
